.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    order: 2;
    z-index: 1;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.2s ease-in-out;
      background-color: var(--main-color-inverse);
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }
  }
  .burger__center-line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color-inverse);
  }
  .burger-transform--top::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
  }
  .burger-transform--top::before {
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
  }
  .burger__center-line--toggle {
    display: none;
  }
}
