.search {
  position: relative;
  display: flex;
  justify-self: flex-end;
}
.search__form {
  display: flex;
  align-items: center;
}
.search__input {
  position: relative;
  width: 0;
  border: none;
  padding: 0;
  transition: 0.2s;
  outline: none;

  &::placeholder {
    padding-left: 4px;
  }
}
.search__input--show {
  width: 220px;
  transition: all 0.2s ease-in;
  padding: 6px 24px 6px 6px;
  border-radius: 8px;
  margin-right: 12px;
}
.clear__input {
  display: none;
}
.clear__input--show {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
}
