.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 100px;
  background-color: var(--main-bg-color);
  margin-bottom: 68px;
}
.header__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 30px;
}
.logo {
  justify-items: flex-start;
}
.nav__list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header__item {
  text-transform: uppercase;
}
.header__item-link {
  color: var(--secondary-text-color);
}

.burger {
  display: none;
}
.burger__btn {
}
.burger__span {
}
