.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 100px;
  background-color: var(--main-bg-color);
}
.header__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 30px;
}
.header__logo {
  justify-items: flex-start;
  cursor: pointer;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header__item {
  text-transform: uppercase;
}
.header__item-link {
  color: var(--secondary-text-color);
}

@media (max-width: 768px) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }
  .header__logo {
    display: none;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    z-index: 1;
  }
  .header__nav-list {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header__item {
    margin: 0 auto;
    font-size: 54px;
  }
}
