.header {
  width: 100%;
  margin-bottom: 100px;
  background-color: var(--main-bg-color);
}
.header__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 60px;
}
.logo {
  justify-items: flex-start;
}
.nav__list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header__item {
  text-transform: uppercase;
}
.header__item-link {
  color: var(--secondary-text-color);
}
.search {
  position: relative;
  display: flex;
  justify-self: flex-end;
}
.search__icon {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
.search__input-inner {
}
.search__input {
  max-width: 0;
  border: none;
  padding: 0;
  margin-right: 40px;
  transition: 0.5s;
}
.burger {
  display: none;
}
.burger__btn {
}
.burger__span {
}
