.search {
	display: flex;
	align-items: center;
}

.input__inner {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 8px;
	overflow: hidden; /* Важно для анимации */
}

.search__input {
	border: none;
	border-bottom: 2px solid transparent;
	padding: 6px 0;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	color: var(--secondary-bg-color);
	caret-color: var(--secondary-bg-color);
	width: 0; /* Начинаем с нулевой ширины */
	opacity: 0;
	transition: all 0.5s ease;
}

.search__input--active {
	width: 250px; /* Фиксированная ширина или 100% */
	opacity: 1;
	border-bottom-color: var(--action-color);
	padding-right: 20px; /* Защитный отступ для крестика */
}

.clear__input {
	position: absolute;
	right: 0;
	color: var(--secondary-bg-color);
	background-color: transparent;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease;
}

.clear__input--active {
	opacity: 1;
	visibility: visible;
}

.clear__input--active:hover {
	color: var(--accent-color);
}

.search__btn {
	color: var(--white);
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	margin-right: 15px; /* Отступ справа для кнопки поиска */
}

.search__btn:hover {
	color: var(--action-color);
}

@media (max-width: 768px) {
	.logo {
		display: none;
	}
	.search__input--active {
		width: 400px; /* Меньшая ширина на мобильных */
	}
	.search__btn {
		margin-right: 8px; /* Меньший отступ на мобильных */
	}
}

@media (max-width: 576px) {
	.search__input--active {
		width: 250px; /* Меньшая ширина на мобильных */
	}
}

@media (max-width: 376px) {
	.search__input--active {
		width: 220px; /* Меньшая ширина на мобильных */
	}
}